@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p style="text-align:justify">
        Esta es la página de bienvenida de la aplicación realizada como Demo para la clase de seguridad.<br />
        Para poder ingresar a la aplicación haz click en la opcion "Log In" en la barra. <br />
        En caso de no tener usuario dirigase al opción de "Registrarse"
    </p>
</div>
