@{
    ViewData["Title"] = "Acceso no Autorizado";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <p style="font-size: medium">
        Usted no tiene acceso a la funcionalidad a la que esta intentando acceder.
    </p>
</div>
